<template>
  <v-row id="previousOrder">
    <v-col cols="3">
      <v-navigation-drawer height="100%" permanent right clipped>
        <v-list dense>
          <v-list-item-group v-model="selected" color="primary" mandatory>
            <router-link
              v-for="item in items"
              :key="item.title"
              :to="{ name: item.name }"
              active-class="primary"
              exact
            >
              <v-list-item link active-class="primary--text">
                <v-list-item-icon>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </router-link>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-col>
    <v-col cols="9">
      <router-view></router-view>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    selected: null,
    items: [
      { title: "سرویس‌ها", icon: "mdi-account", name: "admin_service" },
      { title: "درخواست‌های تکمیل شده", icon: "mdi-account", name: "admin_request_done" },
      { title: "درخواست‌های تکمیل نشده", icon: "mdi-account", name: "admin_request" },
      { title: "صورت حساب‌ها", icon: "mdi-cash-multiple", name: "admin_bill" }
    ]
  }),
  methods: {
    setSelected() {
      if (this.$router.currentRoute.name == "admin_service") {
        this.selected = 0;
      } else if (this.$router.currentRoute.name == "admin_request") {
        this.selected = 1;
      } else if (this.$router.currentRoute.name == "admin_bill") {
        this.selected = 2;
      } else {
        this.$router.push({ name: "admin_request" });
        this.selected = 1;
      }
    }
  },
  created() {
    this.setSelected();
  }
};
</script>

<style lang="stylus" scoped>
.headline {
  font-family: iranyekan !important;
}
</style>