<template>
  <v-container tag="section" id="previousOrder" class="py-5">
    <v-data-table
      :headers="headers"
      :items="tableData"
      hide-default-footer
      sort-by="date"
      class="elevation-1"
      height="400px"
    >
      <!-- <template v-slot:item.state="{item}">
        <v-icon :color="sIcon.color" dark :v-model="getColor(item)">{{sIcon.name}}</v-icon>
      </template>-->
      <!-- <template v-slot:item.area="{ item }">
      <v-chip :color="getColor(item.area)" dark>{{ item.area }}</v-chip>
      </template>-->
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>سفارشات قبلی</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="600px" class="mx-auto">
            <template v-slot:activator="{ on }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-on="on"
                @click="loadMap(),getApiServices()"
              >سفارش جدید</v-btn>
            </template>
            <!-- <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">انصراف</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>-->
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-subtitle>{{ currentTitle }}</v-card-subtitle>
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12">
                        <div id="mapid"></div>
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="6" class="py-1">
                        <!-- <v-textarea
                          v-model="editedItem.location"
                          dense
                          label="مختصات"
                          value="text"
                          readonly
                          filled
                          auto-grow
                          outlined
                          rows="3"
                        ></v-textarea>-->
                        <v-text-field
                          v-model="editedItem.location.lat"
                          label="طول جغرافیایی"
                          readonly
                          outlined
                          dense
                          disabled
                        ></v-text-field>
                        <v-text-field
                          v-model="editedItem.location.lng"
                          label="عرض جغرافیایی"
                          readonly
                          outlined
                          dense
                          disabled
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" class="py-1">
                        <!-- <v-textarea
                          readonly
                          v-model="editedItem.address"
                          dense
                          label="آدرس"
                          value="text"
                          filled
                          auto-grow
                          outlined
                          rows="3"
                        ></v-textarea>-->
                        <!-- fixme : m*2 -->
                        <v-text-field
                          v-model="editedItem.area"
                          label="مساحت زمین"
                          type="number"
                          outlined
                          dense
                          suffix="مترمربع"
                          :rules="[rules.required,rules.area]"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-window-item>

                <v-window-item :value="2">
                  <v-card-text>
                    <v-checkbox
                      v-for="service in getServices"
                      :key="service._id"
                      class="my-1"
                      v-model="editedItem.service"
                      dense
                      :label="service.title"
                      :value="service._id"
                    ></v-checkbox>
                  </v-card-text>
                </v-window-item>

                <v-window-item :value="3">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" class="py-1">
                        <v-textarea
                          v-model="editedItem.decription"
                          dense
                          label="توضیحات"
                          value="text"
                          filled
                          auto-grow
                          outlined
                          rows="5"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-window-item>
              </v-window>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click=" step == 3 ? save() : step++"
                >{{step == 3 ? 'ذخیره' : 'ادامه'}}</v-btn>
                <v-btn v-if="step !== 1" color="blue darken-1" text @click="step--">برگشت</v-btn>
                <v-btn color="blue darken-1" text @click="close">انصراف</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.sate="{ item }">
        <v-chip :color="tableState(item.area)" dark>{{ item.area }}</v-chip>
      </template>
      <template v-slot:item.action="{ item }">
        <!-- <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon> -->
        <!-- <v-icon small @click="deleteItem(item)">mdi-delete</v-icon> -->
        <v-icon small @click="showDetail(item)">mdi-eye</v-icon>
      </template>
      <template v-slot:no-data>
        <h4>برای شما هیچ درخواستی ثبت نشده است</h4>
      </template>
    </v-data-table>
    <v-dialog v-model="detailDialog" max-width="800px">
      <v-card class="text-center">
        <!-- <v-img height="130px" :aspect-ratio="16/9" src="../../assets/fake-logo.png"></v-img> -->
        <v-card-title class="justify-center">
          <span class="headline">{{editedItem.date}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-card v-for="(s,index) in editedItem.service" :key="index" class="my-3 px-2">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field v-model="s.name" label="نام سرویس" readonly></v-text-field>
                </v-col>
                <!-- <v-col cols="12" md="6">
                  <v-text-field v-model="s.name" label="وضعیت" readonly></v-text-field>
                </v-col>-->
                <!-- <v-col cols="12" sm="6" md="4" class="d-flex justify-center">
                  <v-text-field v-model="editedItem.state[index]" label="وضعیت سرویس" readonly></v-text-field>
                </v-col>-->
              </v-row>
              <v-row v-if="editedItem.state[index]==1">
                <v-col cols="1">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="8">
                  <v-textarea
                    readonly
                    v-model="editedItem.service[index].text"
                    dense
                    label="عنوان پاسخ"
                    value="text"
                    filled
                    auto-grow
                    outlined
                    rows="3"
                  ></v-textarea>
                  <!-- <v-text-field v-model="editedItem.state[index]" label="وضعیت سرویس" readonly></v-text-field> -->
                  <!-- <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon> -->
                </v-col>
                <v-col cols="3" class="d-flex align-center justify-center">
                  <!-- <v-btn outlined color="primary">دانلود فایل</v-btn> -->
                  <a
                    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRirvAX_8S68-g57wXmoN-noO5cEEvPMkpggEm-XDqhjL8TICH&s"
                    target="blank"
                  >دانلود فایل</a>
                </v-col>
              </v-row>
              <v-row v-else-if="editedItem.state[index]==0">
                <v-col cols="1" class="d-flex justify-center">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="11" class="d-flex align-center justify-center">
                  <h4>سفارش شما در حال انجام است</h4>
                </v-col>
              </v-row>
              <v-row v-else>
                <v-col cols="1" class="d-flex justify-center">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="8" class="d-flex align-center justify-center">
                  <h4>صورت حساب مربوط به این سرویس پرداخت نشده است.</h4>
                </v-col>
                <v-col cols="3" class="d-flex align-center justify-center">
                  <v-btn outlined color="primary">پرداخت</v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
// import axios from "axios";
import L from "leaflet";
// import { LMap, LTileLayer, LMarker } from "vue2-leaflet";

export default {
  data: () => ({
    dialog: false,
    detailDialog: false,
    headers: [
      { text: "عملیات", value: "action", sortable: false, align: "center" },
      { text: "تاریخ", value: "date", sortable: false, align: "center" },
      {
        text: "مختصات",
        align: "center",
        sortable: false,
        value: "location"
      },
      { text: "مساحت", value: "area", sortable: false, align: "center" },
      {
        text: "درخواست ها",
        value: "services",
        sortable: false,
        align: "center"
      },
      { text: "وضعیت", value: "status", sortable: false, align: "center" }
    ],
    editedIndex: -1,
    editedItem: {
      location: { lat: "", lng: "" },
      area: null,
      service: [],
      state: [],
      decription: ""
    },
    defaultItem: {
      location: { lat: "", lng: "" },
      area: null,
      service: [],
      state: [],
      decription: ""
    },
    step: 1,
    services: [
      { name: "خدمت اول", price: 0, value: 1 },
      { name: "خدمت دوم", price: 0, value: 2 },
      { name: "خدمت سوم", price: 0, value: 3 },
      { name: "خدمت چهارم", price: 0, value: 4 },
      { name: "خدمت پنجم", price: 0, value: 5 }
    ],
    mymap: null,
    latlng: { lat: 35.733414, lng: 51.426015 },
    marker: null,
    icons: [],
    sIcon: [],
    rules: {
      required: value => !!value || "لطفا این قسمت را کامل کنید",
      area: value => value > 0 || "مقدار وارد شده صحیح نمی باشد"
    }
  }),

  computed: {
    ...mapGetters("userModule", ["tableData", "getServices"]),
    formTitle() {
      return this.editedIndex === -1 ? "سفارش جدید" : "ویرایش";
    },
    currentTitle() {
      switch (this.step) {
        case 1:
          return "مشخصات زمین";
        case 2:
          return "خدمات";
        default:
          return "توضیحات";
      }
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.getUserRequests();
  },

  methods: {
    ...mapMutations("userModule", ["tableState", "addTableData"]),
    ...mapActions("userModule", ["getApiServices", "getUserRequests"]),
    editItem(item) {
      this.editedIndex = this.tableData.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.step = 1;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedItem.service.length == 0) {
        alert("لطفا یکی از سرویس ها را انتخاب کنید");
      } else if (this.editedItem.location.lat == "") {
        alert("لطفا موقعیت زمین را انتخاب کنید");
      } else if (this.editedItem.area == null) {
        alert("لطفا مساحت زمین رامشخص کنید");
      } else {
        if (this.editedIndex > -1) {
          Object.assign(this.tableData[this.editedIndex], this.editedItem);
        } else {
          // for (let i = 0; i < this.editedItem.service.length; i++) {
          //   this.editedItem.state.push(-1);
          // }
          this.addTableData(this.editedItem);
        }
        this.close();
      }
    },

    showDetail(item) {
      this.detailDialog = true;
      this.editedItem.location.lat = item.details.location.coordinates[1];
      this.editedItem.location.lng = item.details.location.coordinates[0];
      this.editedItem.area = item.details.area;
      var s = [];
      item.details.demand.forEach(qw => {
        console.log(qw);

        var text = "پاسخ داده نشده";
        if (qw.response) {
          text = qw.response.context;
        }
        var temp = {
          name: qw.service.title,
          price: qw.service.price,
          text
        };
        s.push(temp);
      });
      this.editedItem.service = s;
      this.editedItem.state = [1, -1];
      this.stateIcon();
    },

    stateIcon() {
      this.icons = [];
      this.editedItem.state.forEach(s => {
        if (s == 0) {
          this.icons.push({ name: "mdi-sync-alert", color: "orange" });
        } else if (s < 0) {
          this.icons.push({ name: "mdi-alert-circle-outline", color: "red" });
        } else {
          this.icons.push({ name: "mdi-check", color: "green" });
        }
      });
    },

    // fixme : infinite loop
    // setState() {
    //   for (let i = 0; i < this.tableData.length; i++) {
    //     var state = 1;
    //     this.tableData[i].state.forEach(i => {
    //       if (i == 0) {
    //         console.log(1);
    //         state = 0;
    //       }
    //       if (state != 0) {
    //         if (i < 0) {
    //           console.log(2);
    //           state = -1;
    //         }
    //       }
    //     });

    //     if (state == 0) {
    //       console.log(3);

    //       this.icons.push({ name: "mdi-sync-alert", color: "orange" });
    //     } else if (state < 0) {
    //       console.log(4);
    //       this.icons.push({ name: "mdi-alert-circle-outline", color: "red" });
    //     } else {
    //       console.log(5);
    //       this.icons.push({ name: "mdi-check", color: "green" });
    //     }
    //   }
    // },
    // getColor(calories) {
    //   console.log(calories);

    //   if (calories > 400) return "red";
    //   else if (calories > 200) return "orange";
    //   else return "green";
    // },
    // fixme : fix icon
    loadMap() {
      setTimeout(() => {
        var so = this;

        if (!this.mymap) {
          this.mymap = L.map("mapid").setView(
            [this.latlng.lat, this.latlng.lng],
            13
          );
        }

        L.tileLayer(
          "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYW1pci16aWEiLCJhIjoiY2s3MXp1dWJmMDl0MjNtbnlqa2pzemR3OSJ9.KF-vo2hQVglWMgCgsLnOSA",
          {
            maxZoom: 18,
            id: "mapbox/streets-v11",
            tileSize: 512,
            zoomOffset: -1,
            accessToken:
              "pk.eyJ1IjoiYW1pci16aWEiLCJhIjoiY2s3MXp1dWJmMDl0MjNtbnlqa2pzemR3OSJ9.KF-vo2hQVglWMgCgsLnOSA"
          }
        ).addTo(this.mymap);

        if (this.latlng) {
          let point = L.point(this.latlng.lat, this.latlng.lng);
          this.latlng = this.mymap.layerPointToLatLng(point);
          so.editedItem.location.lat = so.latlng.lat;
          so.editedItem.location.lng = so.latlng.lng;
        }
        var myIcon = L.icon({ iconUrl: "../../assets/fake-logo.png" });
        if (!this.marker) {
          this.marker = L.marker([this.latlng.lat, this.latlng.lng], {
            icon: myIcon,
            alt: "ddd",
            title: "محل زمین"
          }).addTo(this.mymap);
        }

        this.mymap.on("click", function(ev) {
          so.marker.setLatLng(ev.latlng);
          so.editedItem.location.lat = ev.latlng.lat;
          so.editedItem.location.lng = ev.latlng.lng;
        });
      }, 1000);
    }
  },
  // mounted() {
  //   this.setState();
  // }
};
</script>

<style lang="stylus" scoped>
.headline {
  font-family: iranyekan !important;
}

#mapid {
  height: 250px;
}

.v-text-field__suffix {
  font-size: 10px;
}
</style>
<style>
textarea {
  font-size: 12px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-text-field__suffix {
  font-size: 12px;
}
.v-label {
  font-size: 14px;
}
</style>