<template>
  <v-container tag="section" id="profile" class="py-5">
    <v-card>
      <!-- <v-card-title>{{profile.username}}</v-card-title>
      <v-card-subtitle>{{profile}}</v-card-subtitle> -->
      <!-- <v-row>
        <v-col cols="12" sm="6" md="4">
        </v-col>
        <v-col cols="12" sm="6" md="4">
        </v-col>
        <v-col cols="12" sm="6" md="4">
        </v-col>
      </v-row> -->
    </v-card>
  </v-container>
</template>

<script>
// import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  methods: {},
};
</script>
