<template>
  <section id="project" class="pt-5">
    <h2 class="display-1 font-weight-light text-center mb-4">پروژه‌های ما</h2>
    <v-slide-group v-model="model" show-arrows center-active mandatory>
      <v-slide-item
        v-for="(item, i) in items"
        :key="i"
        v-slot:default="{ active, toggle }"
        :value="item"
      >
        <!-- qs : v-slot:default="{ hover }" ? -->
        <v-hover v-slot:default="{ hover }">
          <v-card
            :color="active ? 'primary' : 'grey lighten-1'"
            class="ma-3"
            flat
            height="300"
            width="300"
            @click="toggle"
          >
            <v-img :src="item.src" height="100%">
              <v-overlay v-if="active" absolute color="primary"></v-overlay>
            </v-img>
            <v-fade-transition>
              <v-overlay v-if="hover & !active" absolute color="primary">{{item.title}}</v-overlay>
            </v-fade-transition>
          </v-card>
        </v-hover>
      </v-slide-item>
    </v-slide-group>
    <!-- qs : animation ? -->
    <!-- <v-expand-transition> -->
    <v-sheet v-if="model != null" color="grey lighten-4">
      <v-container class="py-5 mx-auto">
          <v-row class="fill-height align-center justify-center">
            <v-col class="text-right mb-4 col-md-6 col-12">
              <h3 class="headline mb-3">{{model.title}}</h3>
              <p>{{model.text}}</p>
              <v-btn color="primary" depressed>مشاهده جزئیات</v-btn>
            </v-col>
            <v-col class="col-md-6 col-12">
              <v-card elevation="24">
                <v-img :src="model.src" height="300"></v-img>
              </v-card>
            </v-col>
          </v-row>
      </v-container>
    </v-sheet>
    <!-- </v-expand-transition> -->
  </section>
</template>

<script>
export default {
  data() {
    return {
      model: null,
      items: [
        {
          // qs : require ?
          src: require("../../assets/services/service.jpg"),
          title: "1پروژه فلان",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان2",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان3",
          text:
            "لورم ایپسوم m) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان4",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری ه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان5",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان6",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و اررفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان7",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از تارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان8",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌مصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان9",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان10",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان11",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        },
        {
          src: require("../../assets/services/service.jpg"),
          title: "پروژه فلان12",
          text:
            "لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، "
        }
      ]
    };
  }
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}

.headline {
  font-family: iranyekan !important;
}
</style>