<template>
  <v-footer dark padless class="d-block">
    <!-- <v-row>
      <v-col class="blue-grey darken-3 px-5 pr-12 col-md-3 hidden-sm-and-down pb-0">
        <h3 class="body-1 mb-2">صفحات</h3>
        <ul class="body-2 pl-0 pr-6">
          <li v-for="page in pages" :key="page.name" class="mb-3">
            <a :href="page.name">
              {{ page.title }}
            </a>
          </li>
        </ul>
      </v-col>
      <v-col class="blue-grey darken-2 px-5 col-md-9 col-12 pb-0">
        <h3 class="body-1 mb-3">ارتباط با ما</h3>
        <v-row class="pb-2">
          <v-col class="col-4 py-1">
            <v-icon class="mx-3" size="22px">mdi-email</v-icon>
            ایمیل
          </v-col>
          <v-col class="col-8 body-2 py-0">example@gmail.com</v-col>
        </v-row>
        <v-row class="pb-2">
          <v-col class="col-4 py-1">
            <v-icon class="mx-3" size="22px">mdi-map-marker</v-icon>
            آدرس
          </v-col>
          <v-col class="col-8 body-2 py-0">ساری - خیابان فلان -کوچه فلان</v-col>
        </v-row>
        <v-row class="pb-2">
          <v-col class="col-4 py-1">
            <v-icon class="mx-3" size="22px">mdi-phone</v-icon>
            تلفن
          </v-col>
          <v-col class="col-8 body-2 py-0">420-10014</v-col>
        </v-row>
      </v-col>
    </v-row> -->
    <v-row>
      <v-col
        class="caption font-weight-light blue-grey darken-4 py-1 d-flex justify-end align-center"
      >
        © تمام حقوق این صفحه متعلق به شرکت کیله لتکا مهار سبز لغزش مازرون می باشد.
      </v-col>
      <v-col
        class="text-center blue-grey darken-4 hidden-sm-and-down d-flex justify-center align-center py-1"
      >
        <v-btn v-for="icon in icons" :key="icon" class="mx-4 white--text" icon>
          <v-icon size="18px">{{ icon }}</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        href: "http://www.twitter.com",
        icon: "mdi-twitter"
      },
      {
        href: "http://www.instagram.com",
        icon: "mdi-instagram"
      },
      {
        href: "http://www.facebook.com",
        icon: "mdi-facebook"
      },
      {
        href: "http://www.telegram.com",
        icon: "mdi-telegram"
      }
    ],
    // fixme : use store
    pages: [
      {
        title: "خانه",
        name: "home"
      },
      {
        title: "خدمات",
        name: "services"
      },
      {
        title: "پروژه‌ها",
        name: "projects"
      },
      { title: "درباره‌ی ما", name: "about" }
    ],
    icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"]
  })
};
</script>

<style lang="stylus" scoped>
a {
  color: white;
}

.body-1 {
  font-family: iranyekan !important;
}
.body-2 {
  font-family: iranyekan !important;
}
.caption  {
  font-family: iranyekan !important;
}

ul {
  list-style-type: none;
}
</style>
