<template>
  <v-row justify="center">
    <!-- qs : delete persistent ? -->
    <v-dialog v-model="loginForm" persistent max-width="400px">
      <v-card class="text-center">
        <!-- <v-img height="130px" :aspect-ratio="16/9" src="../../assets/fake-logo.png"></v-img> -->
        <v-card-title class="justify-center">
          <span class="headline">شرکت فلان</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form v-if="flag" ref="form" v-model="valid" @submit.prevent="handleSubmit">
              <v-text-field
                id="username"
                v-model="username"
                label="نام"
                type="text"
                color="accent"
                :rules="[rules.requiredName]"
                required
              ></v-text-field>
              <v-text-field
                id="nationalCode"
                v-model="nationalCode"
                label="کد ملی"
                type="text"
                color="accent"
                :rules="[rules.requiredNC]"
                required
              ></v-text-field>
              <v-text-field
                id="phone"
                v-model="phone"
                label="شماره همراه"
                type="tel"
                color="accent"
                :rules="[rules.requiredPhone]"
                required
              ></v-text-field>
              <v-text-field
                id="email"
                v-model="email"
                placeholder="ایمیل"
                type="email"
                color="accent"
                :rules="[rules.requiredEmail,rules.emailRules]"
                required
              ></v-text-field>
              <v-text-field
                id="password"
                v-model="password"
                placeholder="رمز عبور"
                color="accent"
                :rules="[rules.requiredPass]"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                required
              ></v-text-field>
              <v-btn
                :disabled="!valid"
                color="success"
                type="submit"
                @click="validate"
                class="mx-3"
              >ثبت نام</v-btn>
              <v-btn
                color="warning"
                type="reset"
                @click="showLoginDialog();flag =false"
                class="mx-3"
              >انصراف</v-btn>
            </v-form>
            <v-form v-else ref="form" v-model="valid" @submit.prevent="handleSubmit()">
              <v-text-field
                id="nationalCode"
                v-model="nationalCode"
                label="کد ملی"
                type="text"
                color="accent"
                :rules="[rules.requiredName]"
                required
              ></v-text-field>
              <v-text-field
                id="password"
                v-model="password"
                placeholder="رمز عبور"
                color="accent"
                :rules="[rules.requiredPass]"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                required
              ></v-text-field>
              <v-btn
                :disabled="!valid"
                color="success"
                type="submit"
                @click="validate"
                class="mx-3"
              >ورود</v-btn>
              <v-btn
                color="warning"
                type="reset"
                @click="showLoginDialog();flag =false"
                class="mx-3"
              >انصراف</v-btn>
            </v-form>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="flag = !flag">{{flag ? "ورود" : "ثبت نام"}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {
      valid: true,
      show: false,
      username: "",
      phone: "",
      email: "",
      password: "",
      nationalCode: "",
      flag: false,
      rules: {
        // fixme : complete errors and success
        requiredName: v => !!v || "لطفا نام خود را وارد کنید",
        requiredNC: v => !!v || "لطفا کد ملی را وارد کنید",
        requiredPass: v => !!v || "لطفا رمز عبور را وارد کنید",
        requiredPhone: v => !!v || "لطفا شماره همراه را وارد کنید",
        requiredEmail: v => !!v || "لطفا ایمیل را وارد کنید",
        emailRules: v => /.+@.+/.test(v) || "آدرس ایمیل معتبر نمی باشد"
      }
    };
  },
  computed: {
    ...mapGetters(["loginForm"])
  },
  methods: {
    ...mapMutations(["showLoginDialog"]),
    ...mapActions("accountModule", ["login", "logout", "register"]),
    handleSubmit() {
      if (this.flag) {
        if (
          this.username &&
          this.password &&
          this.phone &&
          this.email &&
          this.nationalCode
        ) {
          const user = {
            name: this.username,
            nationalcode: this.nationalCode,
            password: this.password,
            phoneNumber: this.phone,
            email: this.email
          };

          this.register(user);
          this.showLoginDialog();
        }
      } else {
        if (this.nationalCode && this.password) {
          const user = {
            nationalcode: this.nationalCode,
            password: this.password
          };

          this.login(user);
          this.showLoginDialog();
        }
      }
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.title {
  font-family: iranyekan !important;
}

.headline {
  font-family: iranyekan !important;
}
</style>
