<template>
  <v-app-bar app :color="bColor" elevate-on-scroll v-scroll="scroll">
    <v-app-bar-nav-icon class="hidden-md-and-up"></v-app-bar-nav-icon>
    <v-toolbar-items class="hidden-sm-and-down">
      <!-- qs : exact ? -->
      <!-- fixme : exact :/ -->
      <v-btn
        text
        v-for="link in links"
        :key="link.title"
        :to="{ name: link.name }"
        :active-class="aColor"
        :class="tColor"
        exact
      >{{ link.title }}</v-btn>
    </v-toolbar-items>

    <v-spacer />
    <v-btn
      text
      :active-class="aColor"
      :class="tColor"
      tile
      height="100%"
      @click="showLoginDialog"
      v-if="!loggedIn"
    >ورود/ثبت نام</v-btn>
    <v-img
      :src="require('@/assets/fake-logo.png')"
      class="mr-5"
      contain
      height="48"
      width="100"
      max-width="160"
      @click="$vuetify.goTo(0)"
    />
    <v-btn v-if="loggedIn" :active-class="aColor" text icon :class="tColor" @click="out">
      <v-icon size="30">mdi-logout</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
// Utilities
import { mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {
      bColor: "transparent",
      tColor: "white--text",
      aColor: "primary--text"
    };
  },
  methods: {
    ...mapMutations("accountModule", ["logout"]),
    ...mapMutations(["showLoginDialog"]),
    scroll() {
      if (window.scrollY < 1) {
        this.bColor = "transparent";
        this.tColor = "white--text";
        this.aColor = "primary--text";
      } else {
        this.bColor = "rgba(66, 66, 66, 0.9)";
        this.tColor = "white--text";
        this.aColor = "white--text";
      }
    },
    out() {
      this.logout();
      this.$router.push({ name: "home" });
    }
  },
  computed: {
    ...mapGetters("accountModule", ["links", "loggedIn"])
  }
};
</script>

// qs : opacity ?
<style lang="stylus" scoped>
a {
  &:before {
    opacity = '0.24' !important;
  }
}
</style>
