<template>
  <v-content class="py-0" app>
    <!-- <v-sheet tile height="45vh">
      <v-img
        height="100%"
        src="../../assets/core/top-sheet.png"
        gradient="to top, rgba(160, 90, 70, 0.85), rgba(30, 40, 30, 0.85)"
      >
        <v-container fill-height class="white--text">
          <v-col align="center" justify="center">
            <h1 class="mb-2 display-3">نام شرکت</h1>
            <p class="title font-weight-light">شعار شرکت</p>
          </v-col>
        </v-container>
      </v-img>
    </v-sheet>-->
    <router-view></router-view>
    <formDialog></formDialog>
  </v-content>
</template>

<script>
import formDialog from "../core/Login";
export default {
  components: { formDialog },
  data() {
    return {};
  }
};
</script>

<style lang="stylus" scoped>
.v-sheet {
  overflow: hidden;
}
</style>
