<template>
    <div id="admin_bill"><h1>admin_bill</h1></div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
// import axios from "axios";

export default {
  data: () => ({
    dialog: false,
    serviceHeaders: [
      { text: "عملیات", value: "action", sortable: false, align: "center" },
      { text: "نام", value: "name", sortable: false, align: "center" },
      {
        text: "قیمت",
        value: "price",
        align: "center",
        sortable: false
      },
      {
        text: "توضیحات",
        value: "description",
        sortable: false,
        align: "center"
      }
    ],
    completeHeader: [
      { text: "نام", value: "name", sortable: false, align: "center" },
      {
        text: "سرویس ها",
        value: "service",
        align: "center",
        sortable: false
      }
    ],
    editedIndex: -1,
    editedItem: {
      name: "",
      price: 0,
      description: ""
    },
    defaultItem: {
      name: "",
      price: 0,
      description: ""
    },
    items: [
      { title: "سرویس‌ها", icon: "mdi-account" },
      { title: "درخواست‌ها", icon: "mdi-account" },
      { title: "صورت حساب‌ها", icon: "mdi-cash-multiple",name }
    ]
  }),

  computed: {
    ...mapGetters("adminModule", [
      "serviceTableData",
      "completeTableData",
      "incompleteTableData"
    ]),
    formTitle() {
      return this.editedIndex === -1 ? "سرویس جدید" : "ویرایش سرویس";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initializeTable();
  },

  methods: {
    ...mapMutations("adminModule", [
      "initializeTable",
      "completeTableData",
      "serviceTableData",
      "addserviceTableData"
    ]),
    editItem(item) {
      this.editedIndex = this.serviceTableData.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.serviceTableData.indexOf(item);
      confirm("آیا از حذف این سرویس اطمینان دارید؟") &&
        this.serviceTableData.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.editedItem.name == "") {
        alert("لطفا نام سرویس را وارد کنید");
      } else if (this.editedItem.price == 0) {
        alert("لطفا قیمت سرویس را وارد کنید");
      } else if (this.editedItem.description == "") {
        alert("لطفا توضیح سرویس را وارد کنید");
      } else {
        if (this.editedIndex > -1) {
          Object.assign(
            this.serviceTableData[this.editedIndex],
            this.editedItem
          );
        } else {
          this.addserviceTableData(this.editedItem);
        }
        this.close();
      }
    }
  },
  mounted() {}
};
</script>

<style lang="stylus" scoped>
.headline {
  font-family: iranyekan !important;
}
</style>

<style>
textarea {
  font-size: 12px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-text-field__suffix {
  font-size: 12px;
}
.v-label {
  font-size: 14px;
}
</style>