<template>
  <v-container tag="section" id="admin_service" class="py-5">
    <v-data-table
      :headers="serviceHeaders"
      :items="serviceTableData"
      hide-default-footer
      sort-by="date"
      class="elevation-1"
      height="400px"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>سرویس ها</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="600px" class="mx-auto">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">سرویس جدید</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-text-field v-model="editedItem.title" label="نام"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field type="number" value v-model="editedItem.price" label="قیمت"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-textarea
                        auto-grow
                        outlined
                        rows="3"
                        v-model="editedItem.fullContext"
                        label="توضیحات"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">انصراف</v-btn>
                <v-btn color="blue darken-1" text @click="save">ذخیره</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.sate="{ item }">
        <v-chip :color="tableState(item.area)" dark>{{ item.area }}</v-chip>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
        <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
      </template>
      <template v-slot:no-data>
        <h4>برای شما هیچ درخواستی ثبت نشده است</h4>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations,mapActions } from "vuex";

export default {
  data: () => ({
    dialog: false,
    serviceHeaders: [
      { text: "عملیات", value: "action", sortable: false, align: "center" },
      { text: "عنوان", value: "title", sortable: false, align: "center" },
      {
        text: "قیمت",
        value: "price",
        align: "center",
        sortable: false
      },
      {
        text: "توضیحات",
        value: "context",
        sortable: false,
        align: "center"
      }
    ],
    editedIndex: -1,
    editedItem: {
      title: "",
      price: null,
      context: "",
      fullContext: ""
    },
    defaultItem: {
      title: "",
      price: null,
      context: "",
      fullContext: ""
    }
  }),

  computed: {
    ...mapGetters("adminModule", [
      "serviceTableData",
    ]),
    formTitle() {
      return this.editedIndex === -1 ? "سرویس جدید" : "ویرایش سرویس";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.getApiServices();
  },

  methods: {
    ...mapActions("adminModule",["getApiServices","addNewService"]),
    ...mapMutations("adminModule", [
      "initializeTable",
      "serviceTableData",
      "addserviceTableData"
    ]),
    editItem(item) {
      this.editedIndex = this.serviceTableData.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.serviceTableData.indexOf(item);
      confirm("آیا از حذف این سرویس اطمینان دارید؟") &&
        this.serviceTableData.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    
    save() {
      if (this.editedItem.title == "") {
        alert("لطفا نام سرویس را وارد کنید");
      } else if (this.editedItem.price == 0) {
        alert("لطفا قیمت سرویس را وارد کنید");
      } else if (this.editedItem.fullContext == "") {
        alert("لطفا توضیح سرویس را وارد کنید");
      } else {
        if (this.editedIndex > -1) {
          Object.assign(
            this.serviceTableData[this.editedIndex],
            this.editedItem
          );
        } else {
          this.editedItem.context=this.editedItem.fullContext.substr(0, 20) + "...";
          this.addserviceTableData(this.editedItem);
        this.addNewService(this.editedItem);
        }
        this.close();
      }
    }
  },
  mounted() {}
};
</script>

<style lang="stylus" scoped>
.headline {
  font-family: iranyekan !important;
}
</style>

<style>
textarea {
  font-size: 12px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-text-field__suffix {
  font-size: 12px;
}
.v-label {
  font-size: 14px;
}
</style>