<template>
  <v-container tag="section" id="admin_request" class="py-5">
    <v-row>
      <!-- <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="completeTableData"
          hide-default-footer
          sort-by="date"
          class="elevation-1"
          height="400px"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>تکمیل نشده</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="600px" class="mx-auto">
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-text-field v-model="editedItem.name" label="نام"></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field value v-model="editedItem.price" label="قیمت"></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-textarea
                            auto-grow
                            outlined
                            rows="3"
                            v-model="editedItem.description"
                            label="توضیحات"
                          ></v-textarea>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">انصراف</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small @click="showDetail(item)">mdi-eye</v-icon>
          </template>
          <template v-slot:no-data>
            <h4>برای شما هیچ درخواستی ثبت نشده است</h4>
          </template>
        </v-data-table>
      </v-col> -->
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="incompleteTableData"
          hide-default-footer
          sort-by="date"
          class="elevation-1"
          height="400px"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>تکمیل شده</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="600px" class="mx-auto">
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-text-field v-model="editedItem.name" label="نام"></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field value v-model="editedItem.price" label="قیمت"></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-textarea
                            auto-grow
                            outlined
                            rows="3"
                            v-model="editedItem.description"
                            label="توضیحات"
                          ></v-textarea>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">انصراف</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small @click="showDetail(item)">mdi-eye</v-icon>
          </template>
          <template v-slot:no-data>
            <h4>برای شما هیچ درخواستی ثبت نشده است</h4>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-dialog v-model="detailDialog" max-width="800px">
      <v-card class="text-center">
        <v-card-title class="justify-center">
          <span class="headline">{{editedItem.date}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field v-model="editedItem.name" label="نام مالک" readonly></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="editedItem.area" label="مساحت زمین" readonly></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="editedItem.location.lat" label="طول جغرافیایی" readonly></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="editedItem.location.lng" label="عرض جغرافیایی" readonly></v-text-field>
              </v-col>
            </v-row>
            <v-card v-for="(s,index) in editedItem.service" :key="index" class="my-3 px-2">
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field v-model="s.name" label="نام سرویس" readonly></v-text-field>
                </v-col>

                <!-- <v-col cols="12" sm="6">
                  <v-text-field v-model="s.price" label="کد رهگیری" readonly></v-text-field>
                </v-col>-->
                <!-- <v-col cols="12" sm="6" md="4" class="d-flex justify-center">
                  <v-text-field v-model="editedItem.state[index]" label="وضعیت سرویس" readonly></v-text-field>
                </v-col>-->
              </v-row>
              <v-row v-if="editedItem.state[index]==1">
                <v-col cols="1">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="8">
                  <v-textarea
                    readonly
                    v-model="editedItem.service[index].text"
                    dense
                    label="عنوان پاسخ"
                    value="text"
                    filled
                    auto-grow
                    outlined
                    rows="3"
                  ></v-textarea>
                  <!-- <v-text-field v-model="editedItem.state[index]" label="وضعیت سرویس" readonly></v-text-field> -->
                  <!-- <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon> -->
                </v-col>
                <v-col cols="3" class="d-flex align-center justify-center">
                  <v-btn outlined color="primary">دانلود فایل</v-btn>
                </v-col>
              </v-row>
              <v-row v-else-if="editedItem.state[index]==0">
                <v-col cols="1" class="d-flex justify-center">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="11" class="d-flex align-center justify-center">
                  <h4>سفارش شما در حال انجام است</h4>
                </v-col>
              </v-row>
              <v-row v-else>
                <v-col cols="1" class="d-flex justify-center">
                  <v-icon :color="icons[index].color">{{icons[index].name}}</v-icon>
                </v-col>
                <v-col cols="8" class="d-flex align-center justify-center">
                  <h4>صورت حساب مربوط به این سرویس پرداخت نشده است.</h4>
                </v-col>
                <v-col cols="3" class="d-flex align-center justify-center">
                  <v-btn outlined color="primary">پرداخت</v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
// import axios from "axios";

export default {
  data: () => ({
    dialog: false,
    detailDialog: false,
    headers: [
      { text: "عملیات", value: "action", sortable: false, align: "center" },
      { text: "نام", value: "name", sortable: false, align: "center" },
      { text: "تاریخ", value: "date", sortable: false, align: "center" },
      {
        text: "مختصات",
        align: "center",
        sortable: false,
        value: "location"
      },
      { text: "مساحت", value: "area", sortable: false, align: "center" },
      {
        text: "درخواست ها",
        value: "service",
        sortable: false,
        align: "center"
      },
      { text: "وضعیت", value: "state", sortable: false, align: "center" }
    ],
    editedIndex: -1,
    editedItem: {
      location: { lat: "", lng: "" },
      name: "",
      area: null,
      service: [],
      state: [],
      decription: ""
    },
    defaultItem: {
      location: { lat: "", lng: "" },
      name: "",
      area: null,
      service: [],
      state: [],
      decription: ""
    },
    icons: []
  }),

  computed: {
    ...mapGetters("adminModule", [
      "serviceTableData",
      "completeTableData",
      "incompleteTableData"
    ]),
    formTitle() {
      return this.editedIndex === -1 ? "سرویس جدید" : "پاسخ سرویس";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initializeTable();
  },

  methods: {
    ...mapMutations("adminModule", [
      "initializeTable",
      "completeTableData",
      "serviceTableData",
      "addserviceTableData"
    ]),

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedItem.name == "") {
        alert("لطفا نام سرویس را وارد کنید");
      } else if (this.editedItem.price == 0) {
        alert("لطفا قیمت سرویس را وارد کنید");
      } else if (this.editedItem.description == "") {
        alert("لطفا توضیح سرویس را وارد کنید");
      } else {
        if (this.editedIndex > -1) {
          Object.assign(
            this.serviceTableData[this.editedIndex],
            this.editedItem
          );
        } else {
          this.addserviceTableData(this.editedItem);
        }
        this.close();
      }
    },

    showDetail(item) {
      this.detailDialog = true;
      this.editedItem = Object.assign({}, item);
      this.stateIcon();
    },

    stateIcon() {
      this.icons = [];
      this.editedItem.state.forEach(s => {
        if (s == 0) {
          this.icons.push({ name: "mdi-sync-alert", color: "orange" });
        } else if (s < 0) {
          this.icons.push({ name: "mdi-alert-circle-outline", color: "red" });
        } else {
          this.icons.push({ name: "mdi-check", color: "green" });
        }
      });
    }
  },
  mounted() {}
};
</script>

<style lang="stylus" scoped>
.headline {
  font-family: iranyekan !important;
}
</style>

<style>
textarea {
  font-size: 12px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-text-field__suffix {
  font-size: 12px;
}
.v-label {
  font-size: 14px;
}
</style>