// fixme : find better way for change defult "font-family".
// todo : define colors.
// todo : fix this page.
// todo : define global dynamic css.

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../assets/fonts/eot/iranyekanwebboldfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: thin;
	src: url('../assets/fonts/eot/iranyekanwebthinfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: light;
	src: url('../assets/fonts/eot/iranyekanweblightfanum.eot');
	src: url('../assets/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/eot/iranyekanwebregularfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: medium;
	src: url('../assets/fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../assets/fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}
// fixme : black doesnt work
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/eot/iranyekanwebblackfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('../assets/fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('../assets/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../assets/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../assets/fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

*{
	font-family: iranyekan !important;
}

// ::-webkit-scrollbar {
//   width: 1px;
// }
// ::-webkit-scrollbar-thumb {
//   background: white;
// }
// ::-webkit-scrollbar-track {
// 	// fixme change this color (primary).
//   background: #5daf41;
//   margin-top: 3px;
// }

.customDashed {
  position: relative;
  height: 2px;
  margin-top: 1px;
  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 50%, #C3D1E0 50%);
    background-size: 30px 100%;
	background-repeat: repeat-x;
  }
}

// fixme : change black whit 'neutral'.
// .theme--light * {
//     color: #334d6e;
// }

a{
	text-decoration-line: none;
}

@media only screen and (max-width: 600px) {
  :root{
	  font-size: 12px;
  }
}