<template>
  <v-container id="ourTeam" tag="section">
    <h2 class="display-1 font-weight-light text-center mb-4">تیم ما</h2>
    <div class="row justify-center">
      <v-col v-for="(item, i) in items" :key="i" class="text-center">
        <v-hover v-slot:default="{ hover }">
          <v-avatar size="250">
            <v-img :src="item.src"></v-img>
            <v-slide-y-reverse-transition>
              <v-overlay v-if="hover" absolute color="#000000" opacity="0.7">
                <a href="telegram.com">
                  <v-icon color="primary">
                    mdi-telegram
                  </v-icon>
                </a>
              </v-overlay>
            </v-slide-y-reverse-transition>
          </v-avatar>
        </v-hover>
        <v-card-title>{{item.name}}</v-card-title>
        <v-card-subtitle class="gray--text">{{item.job}}</v-card-subtitle>
      </v-col>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      model: null,
      items: [
        {
          // qs : require ?
          src: require("../../assets/services/service.jpg"),
          name: "فلان فلانی",
          job: "فلان کاره"
        },
        {
          src: require("../../assets/services/service.jpg"),
          name: "سامان سامانی",
          job: "یه کاره ی دیگه"
        },
        {
          src: require("../../assets/services/service.jpg"),
          name: "احمد احمدی",
          job: "ی شغل مهم"
        }
      ]
    };
  }
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}

.headline {
  font-family: iranyekan !important;
}

.v-overlay {
  margin-top: 60%;
  border-radius: 0px;
}
</style>