<template>
  <div id="home">
    <v-sheet tile height="50vh">
      <v-img
        height="100%"
        src="../assets/core/landslide3.jpg"
        gradient="to top, rgba(160, 90, 70, 0.85), rgba(30, 40, 30, 0.85)"
      >
        <v-container fill-height class="white--text">
          <v-col align="center" justify="center">
            <h1 class="mb-2 display-3">تثبیت رانش زمین</h1>
            <p class="display-1 font-weight-light">با فناوری نوین</p>
          </v-col>
        </v-container>
      </v-img>
    </v-sheet>
    <v-alert v-if="!loggedIn" color="primary" dense tile class="white--text">
      <v-container class="py-0">
        <v-row align="center">
          <v-col class="grow">برای استفاده از خدمات لطفا ابتدا وارد سایت شوید</v-col>
          <v-col class="shrink">
            <v-btn outlined color="white" @click="showLoginDialog">ورود / ثبت نام</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-alert>

    <desceription></desceription>

    <goal></goal>

    <Testimonial></Testimonial>

    <about></about>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  name: "Home",

  components: {
    Desceription: () => import("@/components/home/Desceription"),
    Goal: () => import("@/components/home/Goal"),
    Testimonial: () => import("@/components/home/Testimonial"),
    About: () => import("@/components/home/About")
  },
  methods: {
    ...mapMutations(["showLoginDialog"])
  },
  computed: {
    ...mapGetters("accountModule", ["loggedIn"])
  }
};
</script>

<style lang="stylus" scoped>
.title {
  font-family: iranyekan !important;
}

.display-3 {
  font-family: iranyekan !important;
}

.display-1 {
  font-family: iranyekan !important;
}
</style>