<template>
  <div id="panel">
    <div style="height:64px;background-color:rgba(66, 66, 66, 0.9)"></div>
    <!-- <profile></profile> -->
    <previousOrders v-if="getUser.role=='user'"></previousOrders>
    <admin v-if="getUser.role=='admin'"></admin>
  </div>
</template>
<script>
// import profile from "../components/panel/Profile";
import previousOrders from "../components/panel/PreviousOrders";
import { mapGetters } from "vuex";
import admin from "../components/panel/Admin";
export default {
  components: {
    // profile,
    previousOrders,
    admin
  },
  computed: {
    ...mapGetters("accountModule", ["getUser"])
  }
};
</script>