<template>
  <div id="services">
    <v-sheet tile height="45vh">
      <v-img
        height="100%"
        src="../assets/core/top-sheet.png"
        gradient="to top, rgba(160, 90, 70, 0.85), rgba(30, 40, 30, 0.85)"
      >
        <v-container fill-height class="white--text">
          <v-col align="center" justify="center">
            <h1 class="mb-2 display-3">نام شرکت</h1>
            <p class="title font-weight-light">شعار شرکت</p>
          </v-col>
        </v-container>
      </v-img>
    </v-sheet>
    <Service></Service>
  </div>
</template>

<script>
export default {
  name: "Servises",

  components: {
    Service: () => import("@/components/_services/Service")
  }
};
</script>

<style lang="stylus" scoped>
.title {
  font-family: iranyekan !important;
}

.display-3 {
  font-family: iranyekan !important;
}
</style>