<template>
  <v-container id="about" tag="section" class="py-5">
    <h2 class="display-1 font-weight-light text-center mb-4">درباره‌ی ما</h2>
    <div class="row text-justify">
      <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد...</p>
    </div>
  </v-container>
</template>

<script>
export default {
  components: {}
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}
</style>