<template>
  <v-container id="descereption" tag="section" class="py-5">
    <h2 class="display-1 font-weight-light text-center mb-4">شرکت ما ...</h2>
    <div class="row text-justify">
      <p>این شرکت برای اولین بار در استان های شمالی به صورت یک هسته تخصصی فناور در مرکز رشد واحد های فناور طبرستان زیر مجموعه ی دانشگاه علوم کشاورزی و منابع طبیعی ساری در سال 1397 توسط اساتید مجرب راه اندازی و شروع به ارائه خدمات فنی و تخصصی به سازمان ها و ادارات و نهاد های مختلف نظیر شرکت برق منطقه ای مازندران و گلستان (جهت مطالعه و ارائه راهکار های تثبیتی برای برج ها و دکل های انتقال نیرو)، بنیاد مسکن انقلاب اسلامی مازندران (جهت مطالعه و ارائه راهکار های تثبیتی برای روستا های رانشی) و اداره کل راه و شهرسازی (جهت مطالعه و ارائه راهکار های تثبیتی برای جاده های رانشی) بیش از ده پروژه تاکنون با موفقیت به اتمام رسانده است.وبخاطر تغییرات آب و هوایی و اقلیمی و وقوع بارش های طولانی و سنگین و تولید سیل و رانش ها، هر روزه تقاضا های جدید برای مطالعه و ارائه خدمات توسط این شرکت از سوی نهاد های مختلف و مردم صورت میگیرد.</p>
    </div>
    <v-carousel cycle>
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: require("../../assets/home/slideshow/0002.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0006.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0008.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0009.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0021.jpg")
        },

        {
          src: require("../../assets/home/slideshow/0026.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0033.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0035.jpg")
        },
        {
          src: require("../../assets/home/slideshow/0036.jpg")
        }
      ]
    };
  },
  components: {}
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}
</style>