<template>
  <div id="Goal py-5">
    <section class="container">
      <h2 class="display-1 font-weight-light text-center mb-4">اهداف ما</h2>
      <div class="row">
        <div class="d-flex col-md-6 col-12">
          <v-card max-width="100%" outlined>
            <v-img cover src="../../assets/home/goals/1.jpg"></v-img>
            <v-card-title
              class="text-justify"
            >کمک به مردم، سازمان ها، ادارات و وزارت خانه ها در مقابله با این مخاطره مهم</v-card-title>
            <v-card-text
              class="pb-5 pt-3 text-justify"
            >پدیده زمین لغزش برعکس دیگر مخاطرات نظیر زلزله دارای شرایط روحی روانی بسیار بغرنج و خطرناکی برای مردم و سازمان ها وادارات به همراه دارد که تسریع در حل معضل این مخاطره ومطالعه و ارائه راهکار های تخصصی و فنی برای مهار رانش ها یکی از اولویت های جدی دولت و مدیران محلی و منطقه ای میباشد. تاخیر در تثبیت رانش ها هم بر میزان خسارت و هم هزینه و بار روانی می افزاید.</v-card-text>
          </v-card>
        </div>
        <div class="d-flex col-md-6 col-12">
          <v-card max-width="100%" outlined>
            <v-img cover src="../../assets/home/goals/2.jpg"></v-img>
            <v-card-title
              class="text-justify"
            >کاهش ریسک مخاطره زمین لغزش با کمک به سیستم بیمه ای برای مردم، سازمان ها، ادارات و وزارت خانه ها</v-card-title>
            <v-card-text
              class="pb-5 pt-3 text-justify"
            >در کشور های پیشرفته از سالیان متمادی برای مقابله با این مخاطره و کاهش آلام از امکانات بیمه ای به خوبی استفاده میکنند.این شرکت با توجه به توانمندی و امکانات سخت افزاری و نرم افزاری و نیروی متخصص میتواند در تحقق این مهم نقش موثر، کابردی و با ارزشی را ایفا نماید.</v-card-text>
          </v-card>
        </div>
        <div class="d-flex col-md-6 col-12">
          <v-card max-width="100%" outlined>
            <v-img cover src="../../assets/home/goals/3.jpg"></v-img>
            <v-card-title
              class="text-justify"
            >ارائه مدل مدرن و پیشرفته پهنه بندی خطر ریسک زمین لغزش در مقیاس های مختلف محلی، شهرستانی، استانی، ملی و فرا ملی(منطقه ای)</v-card-title>
            <v-card-text
              class="pb-5 pt-3 text-justify"
            >امروزه یکی از کاربردی ترین نقشه ها در آمایش سر زمینی، تهیه ی نقشه ی پهنه بندی ریسک زلزله و زمین لغزش هاست. این شرکت با توجه به نیاز روزافزون مردم به نقشه پهنه بندی خطر ریسک بلایای طبیعی ازجمله زمین لغزش، تولید مدل و الگو جدید و پیشرفته ی پهنه بندی ریسک زمین لغزش است تا نهاد ها، سازمان ها، وزارت خانه ها و حتی مردم راحت تر و سریع تر بتوانند در حفاظت و تثبیت عرصه های رانشی تصمیم گیری و اقدامات شایسته و بایسته را انجام بدهند.</v-card-text>
          </v-card>
        </div>
        <div class="d-flex col-md-6 col-12">
          <v-card max-width="100%" outlined>
            <v-img cover src="../../assets/home/goals/4.jpg"></v-img>
            <v-card-title
              class="text-justify"
            >ایجاد آرامش و نشاط به مردم، سازمان ها، ادارات و وزارت خانه ها بعد از رفع اثرات این مخاطره طبیعی زمین لغزش</v-card-title>
            <v-card-text
              class="pb-5 pt-3 text-justify"
            >از مهم ترین اهداف و آرزو های این شرکت، استفاده از اخرین فناوری و دانش، در کاهش آلام و مشکلات و مصیبت های سازمان ها و نهاد ها و مردم در مواجه با این بلای خطرناک است.</v-card-text>
          </v-card>
        </div>
      </div>
    </section>
    <v-container class="py-5 text-left">
      <v-btn depressed large left color="primary" :to="{name :'services'}">دریافت خدمات</v-btn>
    </v-container>
  </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}

.v-card__title {
  word-break: normal;
}
</style>