<template>
  <div id="testimonial">
    <section class="container py-5">
      <h2 class="display-1 font-weight-light text-center mb-4">تقدیر نامه ها و سپاس گزاری ها</h2>
      <div class="row">
        <v-col class=".col-md-6 .col-12">
          <div class="v-testimonial">
            <v-row class="mb-4">
              <v-col class="hidden-sm-and-down shrink">
                <v-icon color="primary" large>mdi-format-quote-open</v-icon>
              </v-col>
              <v-col
                class="body-1 col-md-10 col-12 v-testimonial__blurb text-justify"
              >لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید،</v-col>
            </v-row>
            <footer class="text-left">
              <v-divider class="mr-auto mb-3 v-testimonial__divider primary"></v-divider>
              <h4 class="headline font-weight-medium">حسین حسینی</h4>
              <div class="headline font-weight-light grey--text">مدیر بانک کشاورزی ساری</div>
            </footer>
          </div>
        </v-col>
        <v-col class=".col-md-6 .col-12">
          <div class="v-testimonial">
            <v-row class="mb-4">
              <v-col class="hidden-sm-and-down shrink">
                <v-icon color="primary" large>mdi-format-quote-open</v-icon>
              </v-col>
              <v-col
                class="body-1 col-md-10 col-12 v-testimonial__blurb text-justify"
              >لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید،</v-col>
            </v-row>
            <footer class="text-left">
              <v-divider class="mr-auto mb-3 v-testimonial__divider primary"></v-divider>
              <h4 class="headline font-weight-medium">احمد احمدی</h4>
              <div class="headline font-weight-light grey--text">رئیس آب منطقه‌ای بابل</div>
            </footer>
          </div>
        </v-col>
      </div>
    </section>
    <v-container tag="section" fluid class="pt-5 px-0 mb-n3">
      <v-parallax height="500" src="../../assets/home/parallax.jpg">
        <v-overlay absolute value="true" opacity="0.8">
          <v-col class=".col-md-6 .col-12">
            <div class="v-testimonial">
              <v-row class="mb-4">
                <v-col class="hidden-sm-and-down shrink">
                  <v-icon color="primary" large>mdi-format-quote-open</v-icon>
                </v-col>
                <v-col
                  class="body-1 col-md-10 col-12 v-testimonial__blurb text-justify"
                >لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید،</v-col>
              </v-row>
              <footer class="text-left">
                <v-divider class="mr-auto mb-3 v-testimonial__divider primary"></v-divider>
                <h4 class="headline font-weight-medium">احمد احمدی</h4>
                <div class="headline font-weight-light">رئیس آب منطقه‌ای بابل</div>
              </footer>
            </div>
          </v-col>
        </v-overlay>
      </v-parallax>
    </v-container>
    <v-container class="py-5 text-left">
      <v-btn depressed large left color="primary" :to="{name : 'projects'} ">سایر پروژه‌ها</v-btn>
    </v-container>
  </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}

.body-1 {
  font-family: iranyekan !important;
}

.headline {
  font-family: iranyekan !important;
  font-weight: light;
}

.v-testimonial {
  max-width: 450px;
  margin: 0px auto;
}

.v-testimonial__blurb {
  line-height: 2;
}

.v-testimonial__divider {
  max-width: 120px;
  border-width: 2px;
}
</style>