<template>
  <v-container id="service" tag="section" class="py-5">
    <h2 class="display-1 font-weight-light text-center mb-4">خدمات ما</h2>
    <div>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12">
          <v-card outlined>
            <v-img src="../../assets/services/1.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>شناسایی عرصه های ناپایدار و رانشی زمین در هر نقطه از استان و کشور</v-card-title>
            <v-card-text>با استفاده از فناوری نوین سنجش از دور و GIS و فتوگرامتری وضعیت عرصه های رانشی و آشفته از لحاظ توپوگرافی را با ادغام مدل رقومی ارتفاعی و تصاویر ماهواره ای با قدرت تفکیک بسیار بالا و متوسط میتوان شناسایی و پایش نمود و نقشه ها و خروجی های کاربردی مناسب و زیبایی را خلق نمود.</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12 order-md-2">
          <v-card outlined>
            <v-img src="../../assets/services/2.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>نقشه برداری مدرن با تولید مدل رقومی ارتفاعی و عملیات میدانی</v-card-title>
            <v-card-text>با استفاده از آخرین پیشرفت های نقشه برداری مدرن و مدل های رقومی ارتفاعی تولید شده از داده های ماهواره ای و عملیات های برداشت هوایی پهبادی دقیق ترین و با قدرت ترین نقشه برداری مدرن را از عرصه رانشی تولید می کنیم .</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12">
          <v-card outlined>
            <v-img src="../../assets/services/3.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>مطالعات ژئومورفولوژیکی، زمین شناسی، خاک شناسی، ژئوالکتریک</v-card-title>
            <v-card-text>با استفاده از فناوری نوین سنجش از دور ، GIS ، فتوگرامتری و میدانی و نقشه برداری مدرن و عملیات پهبادی، مطالعات جزئیات زمین شناسی و ژئومورفولوژیکی، خاک شناسی، با عملیات میدانی مطالعات ژئو الکتریک تکمیل و نهایی می کنیم.</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12 order-md-2">
          <v-card outlined>
            <v-img src="../../assets/services/4.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>ارائه نسخه های پایداری و تثبیت و طراحی فنی و تخصصی آن ها</v-card-title>
            <v-card-text>بعد از تکمیل پردازش های ماهواره ای و مطالعات زمین شناسی، ژئومورفولوژیکی، خاک شناسی و ژئوالکتریکی و نقشه برداری مدرن نسخه های تثبیت و درمانی برای عرصه ی ناپایدار و رانشی طراحی و جزئیات آن تهیه می شود.</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12">
          <v-card outlined>
            <v-img src="../../assets/services/5.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>محاسبات فنی و ریزمتره کلیه طرح های پیشنهادی تثبیت</v-card-title>
            <v-card-text>جهت عملیاتی و اجرایی شدن طرح های تخصصی، درمانی و تثبیتی تمامی جزئیات پیشنهادات و طرح ها محاسبات دقیق فنی و اجرایی و نیز ریزمتره آنها برای استعلام و انتخاب پیمانکار تهیه و ارائه میگردد.</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-5 align-center">
        <v-col class="col-md-4 col-12 order-md-2">
          <v-card outlined>
            <v-img src="../../assets/services/6.jpg" height="250px"></v-img>
          </v-card>
        </v-col>
        <v-col class="px-0 col-md-8 col-12">
          <v-card flat color="transparent">
            <v-card-title>نظارت بر اجرای دقیق نسخه ها و طرح های تثبیت</v-card-title>
            <v-card-text>برای تضمین و حسن اجرای نسخه ها و طرح های پیشنهادی خدمات نظارت فنی نیز قابل ارائه است.</v-card-text>
            <v-card-actions>
              <v-btn color="primary" depressed>دریافت خدمت</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<style lang="stylus" scoped>
.display-1 {
  font-family: iranyekan !important;
}
</style>